html {
    height: 100%;
}
body {
    font-family: 'Work Sans', sans-serif;
    background: rgba(0,0,0,.1);
    font-weight: 400;
    height: 100%;
}

.badge {
  background: $darker;
  font-weight: 300;
  border-radius: 5px;
}
