.content {
    margin-left: 300px;
    margin-right: 20px;
    h2 {
      font-weight: 200;
      text-transform: uppercase;
      border-bottom: 1px solid rgba(0,0,0,0.1);
      line-height: 2em;
    }
}
.grid-item,
.grid-sizer {
    width: 25%;
}
.card {
    margin: 10px;
    background: rgba(255,255,255,1);
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    position: relative;
    .pill {
        position: absolute;
        top: 10px;
        right: 10px;
        background: black;
        color: white;
        padding: 5px 15px;
        border-radius: 50px;
        z-index: 1;
        &.green {
            background: $green;
        }
        &.blue {
            background: $blue;
        }
        &.red {
            background: $red;
        }
        &.pill.yellow {
            background: $yellow;
        }
    }
    img {
        max-width: 100%;
        width: 100%;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        transition: all ease 0.2s;
    }
    figcaption {
        padding: 15px;
        h3 {
            margin: 0 0 5px;
            font-size: 1.2em;
        }
        h4 {
            margin: 0;
            color: rgba(0, 0, 0, 0.5);
            font-weight: 400;
            margin-bottom: 10px;
            font-size: 1em;
        }
    }
}
ul.details {
    list-style: none;
    margin: 0 0 25px;
    padding: 0;
    li {
        font-size: 0.9em;
        line-height: 1.6em;
        color: gray;
        i {
            margin-right: 2px;
        }
    }
}
ul.contact {
    list-style: none;
    margin: 0 -15px;
    padding: 15px 15px 0;
    border-top: 1px solid gray;
    li {
        display: inline-block;
        margin-right: 5px;
        a {
            color: black;
        }
    }
}

@media only screen and (max-width: 960px) {
    .grid-item {
        width: 33%;
    }
}
@media only screen and (max-width: 680px) {
    .grid-item {
        width: 50%;
    }
}
@media only screen and (max-width: 480px) {
    .grid-item {
        width: 100%;
    }
}
