html {
  height: 100%; }

body {
  font-family: 'Work Sans', sans-serif;
  background: rgba(0, 0, 0, 0.1);
  font-weight: 400;
  height: 100%; }

.badge {
  background: rgba(0, 0, 0, 0.2);
  font-weight: 300;
  border-radius: 5px; }

.sidenav {
  background: #611725;
  position: fixed;
  left: 0;
  top: 0;
  width: 280px;
  height: 100%;
  padding: 20px 30px 0;
  color: white; }
  .sidenav .logo {
    height: 80px;
    margin: 0 auto 10px auto;
    display: block; }
  .sidenav h1 {
    margin-top: 0px;
    margin-bottom: 20px;
    color: white;
    font-size: 1em;
    font-weight: 200;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    line-height: 3em; }
  .sidenav .filters {
    font-size: 0.9em; }
    .sidenav .filters .input-group {
      margin-bottom: 10px; }
    .sidenav .filters .clear-filters {
      display: block; }
      .sidenav .filters .clear-filters .btn {
        background: rgba(0, 0, 0, 0.1);
        color: white;
        padding: 5px;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 2em;
        border: 1px solid rgba(0, 0, 0, 0.1);
        width: 50%;
        font-weight: 300;
        font-size: 0.9em;
        margin-bottom: 10px; }
        .sidenav .filters .clear-filters .btn:hover {
          background: rgba(0, 0, 0, 0.2); }
      .sidenav .filters .clear-filters .btn-disabled {
        background: transparent;
        cursor: default; }
        .sidenav .filters .clear-filters .btn-disabled:hover {
          background: transparent; }
    .sidenav .filters .filter-group {
      background: rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      margin-bottom: 7px;
      font-size: 0.9em; }
      .sidenav .filters .filter-group a {
        display: block;
        width: 100%;
        font-weight: 500;
        color: white;
        text-align: center;
        padding: 9px 0;
        text-transform: uppercase; }
      .sidenav .filters .filter-group button {
        background: transparent none;
        border: 0;
        display: block;
        color: white;
        width: 100%;
        text-align: left;
        font-weight: 300;
        padding: 0px 15px;
        line-height: 2em; }
        .sidenav .filters .filter-group button:hover {
          background: rgba(0, 0, 0, 0.2); }
  .sidenav .profilemenu {
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
    list-style: none;
    border-top: 1px solid rgba(0, 0, 0, 0.2); }
    .sidenav .profilemenu li {
      line-height: 2em;
      text-align: center; }
      .sidenav .profilemenu li a {
        color: white;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 0.9em; }
        .sidenav .profilemenu li a i {
          margin-right: 5px;
          color: rgba(255, 255, 255, 0.7); }

.content {
  margin-left: 300px;
  margin-right: 20px; }
  .content h2 {
    font-weight: 200;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 2em; }

.grid-item,
.grid-sizer {
  width: 25%; }

.card {
  margin: 10px;
  background: white;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative; }
  .card .pill {
    position: absolute;
    top: 10px;
    right: 10px;
    background: black;
    color: white;
    padding: 5px 15px;
    border-radius: 50px;
    z-index: 1; }
    .card .pill.green {
      background: #4CAF50; }
    .card .pill.blue {
      background: #1976D2; }
    .card .pill.red {
      background: #F44336; }
    .card .pill.pill.yellow {
      background: #FFEB3B; }
  .card img {
    max-width: 100%;
    width: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all ease 0.2s; }
  .card figcaption {
    padding: 15px; }
    .card figcaption h3 {
      margin: 0 0 5px;
      font-size: 1.2em; }
    .card figcaption h4 {
      margin: 0;
      color: rgba(0, 0, 0, 0.5);
      font-weight: 400;
      margin-bottom: 10px;
      font-size: 1em; }

ul.details {
  list-style: none;
  margin: 0 0 25px;
  padding: 0; }
  ul.details li {
    font-size: 0.9em;
    line-height: 1.6em;
    color: gray; }
    ul.details li i {
      margin-right: 2px; }

ul.contact {
  list-style: none;
  margin: 0 -15px;
  padding: 15px 15px 0;
  border-top: 1px solid gray; }
  ul.contact li {
    display: inline-block;
    margin-right: 5px; }
    ul.contact li a {
      color: black; }

@media only screen and (max-width: 960px) {
  .grid-item {
    width: 33%; } }
@media only screen and (max-width: 680px) {
  .grid-item {
    width: 50%; } }
@media only screen and (max-width: 480px) {
  .grid-item {
    width: 100%; } }

/*# sourceMappingURL=main.css.map */
