$maroon: #611725;

$blue: #1976D2;
$green: #4CAF50;
$red: #F44336;
$yellow: #FFEB3B;

$dark: rgba(0,0,0,0.1);
$darker: rgba(0,0,0,0.2);
$darkest: rgba(0,0,0,0.3);

$light: rgba(255,255,255,0.1);
$lighter: rgba(255,255,255,0.2);
$lightest: rgba(255,255,255,0.7);

// Modules and Variables
@import
"../sass/base",
"../sass/sidenav",
"../sass/content";     
