$maroon: #611725;
$blue: #1976D2;
$green: #4CAF50;
$red: #F44336;
$yellow: #FFEB3B;
$dark: rgba(0,0,0,0.1);
$darker: rgba(0,0,0,0.2);
$darkest: rgba(0,0,0,0.3);
$light: rgba(255,255,255,0.1);
$lighter: rgba(255,255,255,0.2);
$lightest: rgba(255,255,255,0.7);
// Content
html {
    height: 100%;
}
body {
    font-family: 'Work Sans', sans-serif;
    background: rgba(0,0,0,.1);
    font-weight: 400;
    height: 100%;
}
.badge {
    background: $darker;
    font-weight: 300;
    border-radius: 5px;
}
// topnav
.topnav {
    background: $maroon;
    color: white;
    img {
        height: 35px;
        float: left;
        margin: 5px 10px 0 15px;
    }
    h1 {
        font-size: 1em;
        margin: 0;
        line-height: 50px;
        font-weight: 500;
        text-transform: uppercase;
        span {
          text-transform: lowercase;
          font-weight: 300;
        }
    }
    .navbar-toggle {
      color: wheat;
      background: $dark;
      border: 1px solid $darker;
        .icon-bar {
            background: white;
        }
    }
    .navbar-toggle:focus, .navbar-toggle:hover {
      background: $darkest;
    }
    .navbar-collapse {
      margin: 20px 0px 20px 0px;
    border: 0;
    padding: 0;
    }
    .filters {
        font-size: 0.9em;
        .input-group {
            margin-bottom: 10px;
        }
        .clear-filters {
            display: block;
            .btn {
                background: $dark;
                color: white;
                padding: 5px;
                text-transform: uppercase;
                font-weight: 500;
                line-height: 2em;
                border: 1px solid $dark;
                width: 50%;
                font-weight: 300;
                font-size: 0.9em;
                margin-bottom: 10px;
                &:hover {
                    background: $darker;
                }
            }
            .btn-disabled {
                background: transparent;
                cursor: default;
                &:hover {
                    background: transparent;
                }
            }
        }
        .filter-group {
            background: $dark;
            border-radius: 5px;
            margin-bottom: 7px;
            font-size: 0.9em;
            a {
                display: block;
                width: 100%;
                font-weight: 500;
                color: white;
                text-align: center;
                padding: 9px 0;
                text-transform: uppercase;
            }
            button {
                background: transparent none;
                border: 0;
                display: block;
                color: white;
                width: 100%;
                text-align: left;
                font-weight: 300;
                padding: 0 15px;
                line-height: 2em;
                &:hover {
                    background: $darker;
                }
            }
        }
    }
    .profilemenu {
        margin: 10px 0 0;
        padding: 10px 0 0;
        list-style: none;
        border-top: 1px solid $darker;
        li {
            line-height: 1.5em;
            text-align: center;
            a {
                color: white;
                font-weight: 300;
                text-transform: uppercase;
                font-size: 0.8em;
                i {
                    margin-right: 5px;
                    color: $lightest;
                }
            }
        }
    }
}
//sidenav
.sidenav {
    background: $maroon;
    position: fixed;
    left: 0;
    top: 0;
    width: 280px;
    height: 100%;
    color: white;
    .inner {
        max-height: 100%;
        padding: 20px 30px;
        overflow: scroll;
    }
    .logo {
        height: 80px;
        margin: 0 auto 10px;
        display: block;
    }
    h1 {
        margin-top: 0;
        margin-bottom: 20px;
        color: white;
        font-size: 1em;
        font-weight: 200;
        text-align: center;
        border-bottom: 1px solid $darker;
        line-height: 3em;
    }
    .filters {
        font-size: 0.9em;
        .input-group {
            margin-bottom: 10px;
        }
        .clear-filters {
            display: block;
            .btn {
                background: $dark;
                color: white;
                padding: 5px;
                text-transform: uppercase;
                font-weight: 500;
                line-height: 2em;
                border: 1px solid $dark;
                width: 50%;
                font-weight: 300;
                font-size: 0.9em;
                margin-bottom: 10px;
                &:hover {
                    background: $darker;
                }
            }
            .btn-disabled {
                background: transparent;
                cursor: default;
                &:hover {
                    background: transparent;
                }
            }
        }
        .filter-group {
            background: $dark;
            border-radius: 5px;
            margin-bottom: 7px;
            font-size: 0.9em;
            a {
                display: block;
                width: 100%;
                font-weight: 500;
                color: white;
                text-align: center;
                padding: 9px 0;
                text-transform: uppercase;
            }
            button {
                background: transparent none;
                border: 0;
                display: block;
                color: white;
                width: 100%;
                text-align: left;
                font-weight: 300;
                padding: 0 15px;
                line-height: 2em;
                &:hover {
                    background: $darker;
                }
            }
        }
    }
    .profilemenu {
        margin: 10px 0 0;
        padding: 10px 0 0;
        list-style: none;
        border-top: 1px solid $darker;
        li {
            line-height: 1.5em;
            text-align: center;
            a {
                color: white;
                font-weight: 300;
                text-transform: uppercase;
                font-size: 0.8em;
                i {
                    margin-right: 5px;
                    color: $lightest;
                }
            }
        }
    }
}
@media only screen and (max-width: 960px) {
    .sidenav {
        display: none;
    }
}
//content
.content {
    margin-left: 300px;
    margin-right: 20px;
    h2 {
        font-weight: 200;
        text-transform: uppercase;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        line-height: 2em;
    }
}
.grid-item,
.grid-sizer {
    width: 25%;
}
.card {
    margin: 10px;
    background: rgba(255,255,255,1);
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    position: relative;
    .pill {
        position: absolute;
        top: 10px;
        right: 10px;
        background: black;
        color: white;
        padding: 5px 15px;
        border-radius: 50px;
        z-index: 1;
        &.green {
            background: $green;
        }
        &.blue {
            background: $blue;
        }
        &.red {
            background: $red;
        }
        &.pill.yellow {
            background: $yellow;
        }
    }
    img {
        max-width: 100%;
        width: 100%;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        transition: all ease 0.2s;
    }
    figcaption {
        padding: 15px;
        h3 {
            margin: 0 0 5px;
            font-size: 1.2em;
        }
        h4 {
            margin: 0;
            color: rgba(0, 0, 0, 0.5);
            font-weight: 400;
            margin-bottom: 10px;
            font-size: 1em;
        }
    }
}
ul.details {
    list-style: none;
    margin: 0 0 25px;
    padding: 0;
    li {
        font-size: 0.9em;
        line-height: 1.6em;
        color: gray;
        i {
            margin-right: 2px;
        }
    }
}
ul.contact {
    list-style: none;
    margin: 0 -15px;
    padding: 15px 15px 0;
    border-top: 1px solid $darker;
    li {
        display: inline-block;
        margin-right: 5px;
        a {
            color: black;
        }
    }
}
@media only screen and (max-width: 960px) {
    .content {
        margin: 60px 0 0;
    }
    .grid-item,
    .grid-sizer {
        width: 33%;
    }
}
@media only screen and (max-width: 680px) {
    .grid-item,
    .grid-sizer {
        width: 50%;
    }
}
@media only screen and (max-width: 480px) {
    .grid-item,
    .grid-sizer {
        width: 100%;
    }
    .card {
        img {
            height: 129px;
            float: left;
            width: auto;
            margin-right: 15px;
        }
        .pill {
            padding: 2px 10px;
        }
    }
    ul.contact {
        text-align: right;
    }
}
